In [1]:
import pandas as pd

In [8]:
wassem_1 = pd.read_csv('wassem_css.csv', sep='\t', error_bad_lines=True)
wassem_2 = pd.read_csv('wassem_hovy_naacl.csv', sep='\t')

In [9]:
wassem_1.head()

,Tweet_ID,Previous,User_ID,Text,Expert_Annotation,Amateur_Annotations
0,570775709343461377,5.707751e+17,24414732,@TVBachelor @NewJerzeyBoy what about the femin...,both,"[neither,sexism,sexism]"
1,596730741490253824,5.967300e+17,13857342,@ThelmaSleaze uh... did you watch the video? o...,both,"[neither,racism,sexism]"
2,600800567426883585,NaN,254174483,Managed to hit a bird and a small rodent on my...,both,"[neither,neither,neither]"
3,603546751841230848,NaN,2264363900,"If you believe a #holohoax or #gays, LGBT &amp...",both,"[sexism,both,sexism]"
4,603584564582326272,NaN,2198745044,"Rid yourself of #Feminazi, #Fag &amp; #Jewf. E...",both,"[sexism,sexism,sexism]"

**Wassem 1**

In [16]:
wassem_1 = wassem_1[['Text','Expert_Annotation']]

racism_data_1 = wassem_1[wassem_1['Expert_Annotation']!='sexism']
sexism_data_1 = wassem_1[wassem_1['Expert_Annotation']!='racism']

In [18]:
racism_data_1['Expert_Annotation'].value_counts()

neither    5729
racism       88
both         35
Name: Expert_Annotation, dtype: int64

In [19]:
sexism_data_1['Expert_Annotation'].value_counts()

neither    5729
sexism      815
both         35
Name: Expert_Annotation, dtype: int64

**Wassem 2**

In [22]:
wassem_2.head()

,Tweet_ID,Previous,User_ID,Text,Label
0,567080871472017408,5.670786e+17,2941145694,@truaemusic The followers of the religion give...,racism
1,566098518616449024,5.660874e+17,2941145694,@Love___Egypt @washingtonpost All the land tha...,racism
2,554672350361571328,NaN,2941145694,@CamilleHughes16 @edbarber101658 @_Watch_Obser...,racism
3,569878129772081153,5.698451e+17,2941145694,@KellyTurner99 @brushyblues @buellerishere The...,racism
4,568541747849998337,NaN,2941145694,@buellerishere Who cares. ISIS does what Moham...,racism

In [23]:
wassem_2['Label'].value_counts()

none      11115
sexism     3148
racism     1939
Name: Label, dtype: int64

In [24]:
wassem_2 = wassem_2[['Text','Label']]

racism_data_2 = wassem_2[wassem_2['Label']!='sexism']
sexism_data_2 = wassem_2[wassem_2['Label']!='racism']

In [25]:
racism_data_2['Label'].value_counts()

none      11115
racism     1939
Name: Label, dtype: int64

In [27]:
sexism_data_2['Label'].value_counts()

none      11115
sexism     3148
Name: Label, dtype: int64

In [ ]:
RacismData = racism_data_1 & racism_data_2
SexismData = sexism_data_1 & sexism_data_2