## Libraries

In [3]:
import pandas as pd

## Data set wassem_css.csv

In [5]:
# Import the data set 
wassem_1 = pd.read_csv('Data/wassem_css.csv', sep='\t', error_bad_lines=True)

In [6]:
# Shape 
wassem_1.shape

(6667, 6)

In [9]:
# preview  
wassem_1.head(2)

,Tweet_ID,Previous,User_ID,Text,Expert_Annotation,Amateur_Annotations
0,570775709343461377,5.707751e+17,24414732,@TVBachelor @NewJerzeyBoy what about the femin...,both,"[neither,sexism,sexism]"
1,596730741490253824,5.967300e+17,13857342,@ThelmaSleaze uh... did you watch the video? o...,both,"[neither,racism,sexism]"

In [12]:
# Select tweets and Annotations 
wassem_1 = wassem_1[['Text','Expert_Annotation']]

In [14]:
# Annotations (Labels)
wassem_1['Expert_Annotation'].value_counts()

neither    5729
sexism      815
racism       88
both         35
Name: Expert_Annotation, dtype: int64

In [11]:
# Extract Racism dataset and Sexism dataset 
racism_data_1 = wassem_1[wassem_1['Expert_Annotation']!='sexism']
sexism_data_1 = wassem_1[wassem_1['Expert_Annotation']!='racism']

## Data set wassem_hovy_naacl.csv

In [16]:
# Import the data set 
wassem_2 = pd.read_csv('Data/wassem_hovy_naacl.csv', sep='\t')

In [17]:
# Shape 
wassem_2.shape

(16202, 5)

In [18]:
# Preview 
wassem_2.head(2)

,Tweet_ID,Previous,User_ID,Text,Label
0,567080871472017408,5.670786e+17,2941145694,@truaemusic The followers of the religion give...,racism
1,566098518616449024,5.660874e+17,2941145694,@Love___Egypt @washingtonpost All the land tha...,racism

In [19]:
# Select tweets and Annotations 
wassem_2 = wassem_2[['Text','Label']]

In [20]:
# Extract Racism dataset and Sexism dataset 
racism_data_2 = wassem_2[wassem_2['Label']!='sexism']
sexism_data_2 = wassem_2[wassem_2['Label']!='racism']

## Racism Dataset

In [26]:
# Annotations of racism_data_1
racism_data_1['Expert_Annotation'].value_counts()

neither    5729
racism       88
both         35
Name: Expert_Annotation, dtype: int64

In [25]:
# Annotations of racism_data_2
racism_data_2['Label'].value_counts()

none      11115
racism     1939
Name: Label, dtype: int64

In [29]:
# rename columns 
racism_data_1.columns = ["Tweets","Labels"]
racism_data_2.columns = ["Tweets","Labels"]

In [31]:
# combine racism_data_1 & racism_data_2
racism = pd.concat([racism_data_1,racism_data_2], axis=0, ignore_index=True)

In [32]:
# Labels 
racism['Labels'].value_counts()

none       11115
neither     5729
racism      2027
both          35
Name: Labels, dtype: int64

In [34]:
# Encoding (racist tweet = 1, none = 0)
racism['Labels'].replace('none','0', inplace=True)
racism['Labels'].replace('neither','0', inplace=True)
racism['Labels'].replace('racism','1', inplace=True)
racism['Labels'].replace('both','1', inplace=True)

In [35]:
# Labels (verification) 
racism['Labels'].value_counts()

0    16844
1     2062
Name: Labels, dtype: int64

In [36]:
# Export the racism dataset 
racism.to_csv('Data/racism.csv', index_label=False)

## Sexism data set

In [38]:
# Annotations of sexism_data_1
sexism_data_1['Expert_Annotation'].value_counts()

neither    5729
sexism      815
both         35
Name: Expert_Annotation, dtype: int64

In [39]:
# Annotations of sexism_data_2
sexism_data_2['Label'].value_counts()

none      11115
sexism     3148
Name: Label, dtype: int64

In [40]:
# rename columns 
sexism_data_1.columns = ["Tweets","Labels"]
sexism_data_2.columns = ["Tweets","Labels"]

In [41]:
# combine sexism_data_1 & sexism_data_2
sexism = pd.concat([sexism_data_1,sexism_data_2], axis=0, ignore_index=True)

In [42]:
# Labels
sexism['Labels'].value_counts()

none       11115
neither     5729
sexism      3963
both          35
Name: Labels, dtype: int64

In [44]:
# Encoding (sexist tweet = 1, none = 0)
sexism['Labels'].replace('none','0', inplace=True)
sexism['Labels'].replace('neither','0', inplace=True)
sexism['Labels'].replace('sexism','1', inplace=True)
sexism['Labels'].replace('both','1', inplace=True)

In [45]:
# Labels (verification) 
sexism['Labels'].value_counts()

0    16844
1     3998
Name: Labels, dtype: int64

In [46]:
# Export the sexism dataset 
sexism.to_csv('Data/sexism.csv', index_label=False)